asgiref==3.5.2
black==23.1.0
boto3==1.24.18
botocore==1.27.18
click==8.1.3
da-vinci==0.3.0
dj-database-url==0.5.0
Django==4.0.5
django-auditlog==2.0.0
django-cleanup==6.0.0
django-cors-headers==3.13.0
django-countries==7.3.1
django-debug-toolbar==3.6.0
django-phonenumber-field==7.0.0
django-split-settings==1.1.0
django-storages==1.12.3
easy-thumbnails==2.8.4
django-tinymce==3.4.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
gunicorn==20.1.0
jmespath==1.0.1
mypy-extensions==0.4.3
pathspec==0.9.0
phonenumberslite==8.12.55
Pillow==9.1.1
platformdirs==2.5.2
psycopg2==2.9.3
PyJWT==2.4.0
python-dateutil==2.8.2
pytz==2022.1
s3transfer==0.6.0
shortuuid==1.0.9
six==1.16.0
stripe==4.1.0
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.3.0
urllib3==1.26.9
pyyaml==6.0
uritemplate==4.1.1
