{% extends "emails/base.html" %}

{% block body_content %}
<p
  style="
    margin: 0 0 12px 0;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, sans-serif;
  "
>
{% if full_name %}
{{ full_name }}, we're excited to see you join the <a href="{{ frontend_base_url }}" style="color: #00b657; text-decoration: underline;">Shortage</a> community.
{% else %}
We're excited to see you join the <a href="{{ frontend_base_url }}" style="color: #00b657; text-decoration: underline;">Shortage</a> community.
{% endif %}
</p>

<p
  style="
    margin: 0 0 0 0;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, sans-serif;
  "
>
  We just need you to confirm your email address by clicking the button below:
</p>

<p
  style="
    margin: 0 0 0 0;
    line-height: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
  "
>
  <a 
    href="{% autoescape off %}{{ url }}{% endautoescape %}"
    style="
      margin: 42px 0 42px 0;
      padding: 16px 16px 16px 16px;
      background-color:#00b657;
      color:#ffffff;
      display:inline-block;
      font-family: Arial, sans-serif;
      font-size:18px;
      font-weight:bold;
      text-align:center;
      text-decoration:none;
      -webkit-text-size-adjust:none;"
    >
      Confirm my account
    </a>
</p>

<p
  style="
    margin: 0 0 12px 0;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, sans-serif;
  "
>
  If you didn't try to create a new account on Shortage, don't worry. You can safely ignore this email.
</p>
{% endblock %}